/* Sign up page 1920 */

/* Background color */
.popup_wrapper > .popup_wrapper_inner {
  background: #08070e;
}

/*In figma It's 472px, But 490px looks more like the design.*/
.popup_header,
.popup_content_text {
  max-width: 472px;
  /* max-width: 490px; */
}

.arm_popup_member_form .popup_content_text {
  padding: 10px 0px;
}

/* UnCommit this After moving "I don't remember password" to arm_form_input_wrapper */

/* .arm_field_position_center .arm_form_field_container .arm_form_input_wrapper {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.arm_form_102 .arm_form_field_container .arm_forgotpassword_link,
body .arm_form_102 .arm_form_field_container.arm_forgotpassword_link,
body .arm_form_102 .arm_forgotpassword_link {
  text-align: end;
}

.arm_form_input_container {
  text-align: start;
} */

/* Sign up page 768 */

.popup_wrapper.arm_popup_member_form_102 .arm_form_heading_container {
  font-size: 32px;
}

/* Page_#3 - Register account to enter */
.mobile-btns {
  padding-bottom: 30px;
}

/* Page_#4 #5 #6 - no css to change */

/* Page_#7 - user Profile */

#header-user-profile-menu ul li a {
  padding: 40px 0px 14px 0px;
}

/* Page_#8- no css to change */

/* Page_#9- font change*/
/* Please check if this is the right font - I'm not sure. */
body,
body input,
body textarea,
select {
  font-family: sans-serif;
}

/* Page_#10 - add Shadow on Hover*/

.video-index-border-hover {
  transition: 0.5s;
}

.video-index-border-hover:hover {
  box-shadow: 0 5px 15px rgb(255 255 255 / 30%);
}

/* Page_#11 - Shrink  borderline by 1px*/

ul#dashboard-sub-menu li a {
    
    border-bottom: 1px solid #525156 !important;
}
