/* Sign up page 1920 */

/* Background color */
.popup_wrapper > .popup_wrapper_inner {
  background: #08070e;
}

body .popup_wrapper_inner {
  background-color: #08070e !important;
}

#comment-review-pop-up-padding,
#close-pop-up-full-review-skrn,
#close-social-sharing-skrn {
  background: #08070e;
}

/*In figma It's 472px, But 490px looks more like the design.*/
.popup_header,
.popup_content_text {
  max-width: 472px;
  /* max-width: 490px; */
}

.arm_popup_member_form .popup_content_text {
  padding: 10px 0px;
}

/* UnCommit this After moving "I don't remember password" to arm_form_input_wrapper */

/* .arm_field_position_center .arm_form_field_container .arm_form_input_wrapper {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.arm_form_102 .arm_form_field_container .arm_forgotpassword_link,
body .arm_form_102 .arm_form_field_container.arm_forgotpassword_link,
body .arm_form_102 .arm_forgotpassword_link {
  text-align: end;
}

.arm_form_input_container {
  text-align: start;
} */

/* Sign up page 768 */

/* For some reason this Does not have an effect on the page. I've tried it like 10 times... */

@media (max-width: 768px) {
  #comment-review-popup-heading h2,
  .login-notify-text p,
  .arm_form_heading_container .arm_form_field_label_wrapper_text,
  .popup_wrapper.arm_popup_member_form_102 .arm_form_heading_container {
    font-size: 29px;
  }
}

/* Page_#3 - Register account to enter */
.login-notify-text .mobile-btns {
  padding-bottom: 30px;
}

/* Page_#4  - margin checkbox */

#arm_form__checkbox_mvpk0_259__1 .md-label {
  margin-top: 19px !important;
  margin-left: 30px !important;
}

@media (max-width: 500px) {
  #arm_form__checkbox_mvpk0_259__1 .md-label {
    margin-top: 45px !important;
  }
}

/* Page_#5- Background button color */

/* .video-search-header-buttons input,
a#video-post-play-text-btn,
.progression-sticky-scrolled
  header#masthead-pro
  #progression-checkout-basket
  a.cart-button-header-cart,
#progression-checkout-basket a.cart-button-header-cart,
.progression-studios-shop-overlay-buttons a.added_to_cart,
.wp-block-button a.wp-block-button__link,
.woocommerce form input.button,
.woocommerce form input.woocommerce-Button,
button.wpneo_donate_button,
.sidebar ul.progression-studios-social-widget li a,
footer#site-footer .tagcloud a,
.tagcloud a,
body .woocommerce nav.woocommerce-MyAccount-navigation li.is-active a,
.post-password-form input[type="submit"],
#respond input.submit,
.wpcf7-form input.wpcf7-submit,
#boxed-layout-pro .woocommerce .shop_table input.button,
#boxed-layout-pro .form-submit input#submit,
#boxed-layout-pro #customer_login input.button,
#boxed-layout-pro .woocommerce-checkout-payment input.button,
#boxed-layout-pro button.button,
#boxed-layout-pro a.button {
  color: #ffffff;
  background: #17161c;
  border: solid 2px;
} */

/* Removing Btm border In review page */

#comment-review-pop-up-container,
#vayvo-profile-sidebar-name,
#video-post-sidebar {
  background: none !important;
  border-bottom: 0px solid !important;
  margin-bottom: 0;
}

/* Page #6 - no css to change */

/* Page_#7 - user Profile */

#header-user-profile-menu ul li a {
  padding: 40px 0px 14px 0px;
}

/* Page_#9*/

.arm_form_105 .arm_form_input_container input,
.arm_form_105 .arm_form_input_container textarea,
.arm_form_105 .arm_form_input_container select,
.arm_form_105 .arm_form_input_container md-select md-select-value {
  border-color: #c4c4c5;
}

/* Page_#10- font change*/
/* Please check if this is the right font - I'm not sure. */
body,
body input,
body textarea,
select {
  font-family: "Fira Sans Condensed", sans-serif;
}

/* Page_#11 - add Shadow on Hover*/

.video-index-border-hover {
  transition: 0.5s;
}

.video-index-border-hover:hover {
  box-shadow: 0 5px 15px rgba(30, 27, 241, 0.363);
}

/* Page_#12 - Shrink  borderline by 1px*/

ul#dashboard-sub-menu li a {
  border-bottom: 1px solid #525156 !important;
}
